@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: red;
    color: darkslategray;   
}

/***Link at the top of the page to open the welcome pop-up modal***/

#modal_link {
    width: 80%;
    text-align: right;
    margin: 0 auto;
    height: 20px;
    margin-top: 10px;
}

#modal_link p {
    text-decoration: none;
    font-size: 120%;   
    color: white; 
}

#modal_link p:hover {
    color: darkslategray;
    cursor: pointer;
}

/***Main playing area container***/

#play_area {
    background-color: white;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 10px;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

/***Footer***/

footer {
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 8px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: darkslategray;
    text-decoration: none;
}

#bottom_left {
    float: left;
    font-size: 15px;
}

#bottom_right {
    float: right;
    font-size: 15px;
}

/***Background color buttons***/

.color_btn {
    border-radius: 8px;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 120px;
    column-gap: 6px;
}

#green_btn {
    background-color: green;
}

#purple_btn {
    background-color: purple;
}

#pink_btn {
    background-color: pink;
}

#red_btn {
    background-color: red;
}

#blue_btn {
    background-color: blue;
}

#orange_btn {
    background-color: orangered;
}

#green_btn:hover {
    color: green;
    border: 3px solid green;
    background-color: white;    
}

#purple_btn:hover {
    color: purple;
    border: 3px solid purple;    
    background-color: white;        
}

#pink_btn:hover {
    color: pink;
    border: 3px solid pink;    
    background-color: white;        
}

#red_btn:hover {
    color: red;
    border: 3px solid red;    
    background-color: white;        
}

#blue_btn:hover {
    color: blue;
    border: 3px solid blue;    
    background-color: white;        
}

#orange_btn:hover {
    color: orangered;
    border: 3px solid orangered;    
    background-color: white;        
}

/***Game level buttons***/

.level_icon {
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;  
    margin: 0 auto;
}

.level_icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
}

.level_icon.egg {
    background-image: url(../images/egg.jpg);
}

/***Correct score increment***/

#correct_answer_counter {
    height: 150px;
    display: block;
    position: relative;        
}

#star {
    font-size: 150px;
    color: red;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#correct_score {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: darkslategray;
}

/***Countdown clock***/

.clock {
    font-size: 150px;
}

/***Image A: answer***/

#answer_image {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    display: block;
    position: relative;
}

#answer_image img {
    max-height: 100%;
    max-width: 100%;   
    display: block;
    margin: 0 auto;
}

/*** help to position countdown timer over results image https://www.w3schools.com/howto/howto_css_image_text.asp ***/

#countdown_timer {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}

/***Images A, B and C: options***/

.option_image {
    height: 200px;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
    text-align: center;
}

/** help with transform on hover https://www.w3schools.com/howto/howto_css_zoom_hover.asp***/
.option_image img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.option_image img {
    max-height: 100%;
    max-width: 100%;
}

/*** Welcome pop-up modal https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal - code for modal taken from w3schools.com and modified for the site***/

/*** The Modal (background) ***/
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 120%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,0.6); /* Fallback color */
  background-color: rgba(155, 143, 143, 0.6); /* Gray w/ opacity */
}

/*** Modal Content ***/
.modal_content {
  background-color: white;
  color: darkslategray;
  margin: auto;
  padding: 20px;
  border: 1px solid darkslategray;
  width: 50%; /* width of the modal box */
  height: 50%;
  overflow: scroll;
}

.modal_image_div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Style images in modal */
.modal_image {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block; 
}

.egg {
    height: 100px;
}

/* Style text for adults in modal */
.intro_text {
    font-size: 16px;
}

#correctAnswerModal {
    height: 100%; /* smaller than the welcome modal */
    text-align: center;
}

#incorrectAnswerModal {
    height: 100%; /* smaller than the welcome modal */
    text-align: center;
}

/* The Close Button */
.close {
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ready to play button in welcome modal */
#play {
    text-align: center;
    }

#play:hover,
#play:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#frown {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
}