@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.body {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    background-color: red;
    color: darkslategray;   
}
.footer {
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 8px;
    color: white;
}
.nav {
    margin-top: 30px;
}
.btn {
    border-radius: 8px;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*** Welcome pop-up modal https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal - code for modal taken from w3schools.com and modified for the site***/
/*** The Modal (background) ***/
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 120%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,0.6); /* Fallback color */
  background-color: rgba(155, 143, 143, 0.6); /* Gray w/ opacity */
}
.hide {
    visibility: hidden;
}
.nav__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 120%;   
    color: white;  
}
.nav__link:hover {
    color: darkslategray;
    cursor: pointer;
    text-decoration: none;    
}
.game__section { /*main playing area*/
    background-color: white;
    width: 80%;
    height: fit-content;
    max-height: 80%;
    margin: 0 auto;
    padding-left: 10px;
}
.clock__face {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
    display: block;
    position: relative;
    float: left;
    bottom: -10%;
    left: 5%;
}
.middle__container { /*contains clock and answer image*/
    height: 300px;
}
.nav__link__top {
    margin: 0 auto;
    padding-bottom: 10px;
}
.nav__link__bottom {
    font-size: 15px;
}
.nav__link__left {
    float: left;
}
.nav__link__right {
    float: right;
}
.game__section__title {
    padding-top: 20px;
    text-align: center;
}
.game__section__text {
    text-align: center;
}
.btn__color__select {
    height: 50px;
    width: 120px;
    column-gap: 6px;
}
.btn__start__play {
    background-color: darkslategray;
    height: 100px;
    width: 250px;
    margin: 0 auto; 
}
.btn__start__play:hover {
    border: 2px solid darkslategray;
    background-color: white;
    color: darkslategray;
    cursor: pointer;
    text-decoration: none;
} 
.game__level__icon {
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;  
    margin: 0 auto;
}
.game__level__icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
    cursor: pointer;
}
.correct__score__star { /***Correct answer star***/
    height: 150px;
    display: block;
    position: relative; 
    font-size: 150px;
    color: red;
    text-align: center;   
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);               
}
.correct__score__counter {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: darkslategray;
}
.clock__numbers {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-family: 'RocknRoll One', sans-serif;
    color: white;
    font-weight: bold;
}
.clock__hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 6px;
    height: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    background-color: white;
    transform-origin: bottom;
}
.answer__image__container {
    height: 250px;
    width: 250px;
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
}
.answer__image__picture {
    max-height: 100%;
    max-width: 100%;   
}
.option__image__container {
    position: relative;
    top: 30%; /* move three options to bottom of play area*/
    height: 300px;
}
.option__image__picture {
    height: 200px;
    width: 200px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    bottom: -25%; /* position images at bottom of white container*/
    max-height: 100%;
    max-width: 100%;
}
/** help with transform on hover https://www.w3schools.com/howto/howto_css_zoom_hover.asp***/
.option__image__picture:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.modal__content {
  background-color: white;
  color: darkslategray;
  margin: auto;
  padding: 20px;
  border: none;
  width: 60%;
  height: 60%;
  overflow: scroll;
}
.modal__image__caterpillar {
    height: 200px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal__image__container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.modal__content__text {
    font-size: 16px;
}
.modal__content__title {
    text-align: center;
}
.modal__close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/***Background color buttons***/
.btn--color--select--green {
    background-color: green;
}
.btn--color--select--green:hover {
    color: green;
    border: 3px solid green;    
    background-color: white;        
}
.btn--color--select--purple {
    background-color: purple;
}
.btn--color--select--purple:hover {
    color: purple;
    border: 3px solid purple;    
    background-color: white;        
}
.btn--color--select--pink {
    background-color: pink;
}
.btn--color--select--pink:hover {
    color: pink;
    border: 3px solid pink;    
    background-color: white;        
}
.btn--color--select--red {
    background-color: red;
}
.btn--color--select--red:hover {
    color: red;
    border: 3px solid red;    
    background-color: white;        
}
.btn--color--select--blue {
    background-color: blue;
}
.btn--color--select--blue:hover {
    color: blue;
    border: 3px solid blue;    
    background-color: white;        
}
.btn--color--select--orange {
    background-color: orangered;
}
.btn--color--select--orange:hover {
    color: orangered;
    border: 3px solid orangered;    
    background-color: white;        
}
.game--level--icon--egg {
    background-image: url(../images/egg.jpg);
}
.game--level--icon--caterpillar {
    background-image: url(../images/caterpillar.jpg);
}
.game--level--icon--butterfly {
    background-image: url(../images/butterfly.jpg);
}
.clock--number--one { --rotation: 36deg; }
.clock--number--two { --rotation: 72deg; }
.clock--number--three { --rotation: 108deg; }
.clock--number--four { --rotation: 144deg; }
.clock--number--five { --rotation: 180deg; }
.clock--number--six { --rotation: 216deg; }
.clock--number--seven { --rotation: 252deg; }
.clock--number--eight { --rotation: 288deg; }
.clock--number--nine { --rotation: 324deg; }
/* help with rotating the clock hand https://flaviocopes.com/rotate-image/ and https://flaviocopes.com/css-transitions/ */
.clock--hands--rotate {
  animation: rotation 5s 0s linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




