@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
/***Background***/
.game__container {
    background-color: red;
    color: darkslategray;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
}
/***Navigation***/
.nav {
    background-color: whitesmoke;
    display: block;
    height: 100px;
    margin: auto auto;
    text-align: right;
    width: 80%;
}
.nav__link {
    color: darkslategray;
    font-size: 120%;   
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}
.nav__link:hover {
    cursor: pointer;
    text-decoration: none;    
    text-transform: uppercase;
}
.nav__link__top {
    margin: 0 auto;
    padding-bottom: 10px;
}
/***Footer***/
.footer {
    color: whitesmoke;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.nav__link__bottom {
    font-size: 12px;
}
/***Main playing area***/
.btn {
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn:focus {
    box-shadow: none;
    outline: none;
}
.hide {
    visibility: hidden;
}
.game__section {
    background-color: whitesmoke;
    height: 80vh;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 80%;
}
.clock__face {
    background-color: red;
    border-radius: 50%;
    display: block;
    height: 175px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 175px;
}
.game__section__middle__area {
    height: 220px;
    padding-top: 20px;
}
.option__image__section {
    bottom: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.game__section__title {
    padding-top: 5px;
    text-align: center;
}
.game__section__text {
    text-align: center;
}
.btn__container {
    text-align: center;
}
.btn__color__select {
    column-gap: 6px;
    height: 50px;
    width: 120px;
}
.btn__start__play {
    background-color: darkslategray;
    height: 100px;
    margin: 0 auto; 
    width: 250px;
}
.btn__start__play:hover {
    background-color: whitesmoke;
    border: 2px solid darkslategray;
    color: darkslategray;
    cursor: pointer;
    text-decoration: none;
} 
.game__level__icon {
    background-color: whitesmoke;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 100px;
    margin: 10px;
    margin: 0 auto;
    width: 200px;
}
.game__level__icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
    cursor: pointer;
}
.correct__score__star {
    color: red;
    display: block;
    font-size: 150px;
    height: 150px;
    left: 50%;
    padding-top: 10px;
    position: absolute;
    text-align: center;   
    top: 50%;
    transform: translate(-50%, -50%);            
    z-index: 1;
}
.correct__score__counter {
    color: darkslategray;
    font-size: 50px;
    left: 50%;
    padding-top: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.clock__hand {
    background-color: whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 50%;
    height: 45%;
    left: 50%;
    position: absolute;
    transform-origin: bottom;
    width: 8px;
    z-index: 1;
}
.answer__image__container {
    bottom: -10%;
    display: block;
    height: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 200px;
}
.answer__image__picture {
    width: 100%;  
}
.option__image__container {
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
.option__image__picture {
    height: 150px;
    width: 150px;
}
.option__image__picture:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.btn--color--select--green {
    background-color: green;
}
.btn--color--select--green:hover {
    background-color: whitesmoke;     
    border: 3px solid green;    
    color: green;   
}
.btn--color--select--purple {
    background-color: purple;
}
.btn--color--select--purple:hover {
    background-color: whitesmoke;        
    border: 3px solid purple;    
    color: purple;
}
.btn--color--select--pink {
    background-color: pink;
}
.btn--color--select--pink:hover {
    background-color: whitesmoke;        
    border: 3px solid pink;    
    color: pink;
}
.btn--color--select--red {
    background-color: red;
}
.btn--color--select--red:hover {
    background-color: whitesmoke;        
    border: 3px solid red;    
    color: red;
}
.btn--color--select--blue {
    background-color: blue;
}
.btn--color--select--blue:hover {
    background-color: whitesmoke;        
    border: 3px solid blue;  
    color: blue;
}
.btn--color--select--orange {
    background-color: orangered;
}
.btn--color--select--orange:hover {
    background-color: whitesmoke;      
    border: 3px solid orangered;    
    color: orangered; 
}
.current--game--icon:hover {
    border: none;
    border-radius: 0; 
    cursor: auto;    
}
.game--level--icon--egg {
    background-image: url(../images/egg.jpg);
}
.game--level--icon--caterpillar {
    background-image: url(../images/caterpillar.jpg);
}
.game--level--icon--butterfly {
    background-image: url(../images/butterfly.jpg);
}
.clock--hands--rotate {
  animation: rotation 5s 0s linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/***Introduction modal***/
.welcome__modal {
    background-color: rgb(155, 143, 143);
    background-color: rgba(155, 143, 143, 0.6);
    height: 120%; 
    left: 0;
    overflow: auto;
    padding-top: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.modal__level__icon {
    background-color: whitesmoke;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    border: none;
    height: 150px;
    margin: 0 auto;
    width: 200px;
}
.modal__level__icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
    cursor: pointer;
}
.modal__level__text {
    font-size: 14px;
    margin: 0 auto;
    width: 65%;
}
.modal__content {
    background-color: whitesmoke;
    border: none;
    color: darkslategray;
    height: 60%;
    margin: auto;
    overflow: scroll;
    padding: 20px;
    width: 60%;
}
.modal__image__container {
    margin-bottom: 15px;
    text-align: center;
}
.modal__content__text {
    font-size: 16px;
}
.modal__close {
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.modal__close:hover,
.modal__close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.2);
}
.section__content__title {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.modal--image--caterpillar {
    height: auto;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 80%;
}
/***Bottom information section***/
.bottom__section__info {
    background-color: whitesmoke;
    display: block;
    height: fit-content;
    margin: auto auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
}
.bottom__section__play {
    margin: 0 auto;  
    padding-top: 10px;
    width: 90%;
 }
.bottom__section__about {
    margin: 0 auto;    
    width: 90%;
}
.bottom__section__contact {
    margin: 0 auto;   
    padding-bottom: 20px;
    width: 90%;
}
.bottom--section--contact--link {
    color:black;
    text-decoration: none;
}
.bottom--section--contact--link:hover {
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
}
/***For tablets***/
@media only screen and (max-width: 1024px) {
    .nav {
        width: 90%;
    }
    .game__section {
        width: 90%;
    }
    .modal__content {
        width: 80%;
    }
    .bottom__section__info {
        width: 90%;
    }
}
/***For mobile devices***/
@media only screen and (max-width: 768px) {
    .game__container {
        padding-bottom: 15px;
    }
    .nav {
        font-size: 10px;
        padding-top: 20px;
        text-align: center;
    }
    .btn {
        font-size: 10px;
        height: 40px;
        margin-bottom: 6px;
        margin-top: 6px;
        text-align: center;
        width: 70px;
    }
    .game__section {
        height: 100%;
        padding-bottom: 20px;
    }
    .welcome__modal {
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .modal__content {
        height: 90%;
        width: 90%;
    }
    .game__section__middle__area {
        font-size: 10px;
        height: 150px;
    }
    .bottom__section__info {
        font-size: 12px;
        width: 90%;
    }
    .modal__content__text {
        font-size: 10px;
    }
    .section__content__title {
        font-size: 16px;
        margin-top: 5px;
    }
    .modal__image__title {
        font-size: 16px;
    }
    .modal__level__icon {
        height: 75px;
        width: 100px;
    }
    .modal__level__text {
        font-size: 10px;
        margin-bottom: 8px;
        width: 90%;
    }
    .game__section__title__text {
        font-size: 18px;
    }
    .option__image__section {
        margin: 0 auto;
    }
    .answer__image__container {
        height: 100px;
        margin-bottom: 40px;
    }
    .option__image__container {
        margin: 0 auto;
    }
    .answer__image__picture {
        width: 50%;
    }
    .option__image__picture {
        height: 60px;
        width: 60px;
    }
    .game__level__icon {
        height: 60px;
        width: 90px;
    }
    .btn__start__play {
        height: 75px;
        width: 150px;
    }
    .level__selected {
        margin-bottom: 0;
    }
    .clock__container {
        margin: 0 auto;
        width: 50%;
    }
    .star__container {
        margin: 0 auto;
    }
    .clock__face {
        font-size: 8px;
        height: 80px;
        width: 80px;
    }
    .clock__hand {
        width: 3px;
    }
    .correct__score__star {
        font-size: 50px;
        height: 50px;
        padding-bottom: 50px;
        top: 50%;
    }
    .correct__score__counter {
        font-size: 20px;
        top: 50%;
    }
    .modal--image--caterpillar {
        width: 100%;
    }
    .btn--start--play--text {
        font-size: 18px;
    }
}