@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.body {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    background-color: red;
    color: darkslategray;
}
.nav {
    background-color: whitesmoke;
    width: 80%;
    display: block;
    height: 100px;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.footer {
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 8px;
    color: whitesmoke;
}
.btn {
    border-radius: 8px;
    color: whitesmoke;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.welcome__modal {
  position: fixed;
  z-index: 1;
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 120%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,0.6); /* Fallback color */
  background-color: rgba(155, 143, 143, 0.6); /* Gray w/ opacity */
}
.game__section { /*main playing area*/
    background-color: whitesmoke;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}
.game__section__middle__area {
    height: 220px;
}
.hide {
    visibility: hidden;
}
.nav__link {
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    font-size: 120%;   
    text-align: right;
}
.nav__link:hover {
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;    
}
.bottom__section__info {
    text-align: center;
    display: block;
    height: 300px;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    width: 80%;
}
.clock__face {
    width: 175px;
    height: 175px;
    background-color: red;
    border-radius: 50%;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}
.nav__link__top {
    margin: 0 auto;
    padding-bottom: 10px;
}
.nav__link__bottom {
    font-size: 15px;
}
.nav__link__left {
    float: left;
}
.nav__link__right {
    float: right;
}
.game__section__title {
    padding-top: 20px;
    text-align: center;
}
.game__section__text {
    text-align: center;
}
.btn__container {
    text-align: center;
}
.btn__color__select {
    height: 50px;
    width: 120px;
    column-gap: 6px;
}
.btn__start__play {
    background-color: darkslategray;
    height: 100px;
    width: 250px;
    margin: 0 auto; 
}
.btn__start__play:hover {
    border: 2px solid darkslategray;
    background-color: whitesmoke;
    color: darkslategray;
    cursor: pointer;
    text-decoration: none;
} 
.game__level__icon {
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;  
    margin: 0 auto;
}
.game__level__icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
    cursor: pointer;
}
.modal__level__icon {
    border: none;
    height: 150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;  
    margin: 0 auto;
}
.modal__level__icon:hover {
    border: 3px solid darkslategray;
    border-radius: 8px; 
    cursor: pointer;
}
.modal__level__text {
    width: 65%;
    margin: 0 auto;
}
.correct__score__star { /***Correct answer star***/
    height: 150px;
    display: block;
    position: relative; 
    font-size: 150px;
    color: red;
    text-align: center;   
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);               
}
.correct__score__counter {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: darkslategray;
}
.clock__numbers {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-family: 'RocknRoll One', sans-serif;
    color: whitesmoke;
}
.clock__hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 6px;
    height: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    background-color: whitesmoke;
    transform-origin: bottom;
}
.answer__image__container {
    height: 200px;
    width: 200px;
    display: block;
    position: relative;
    margin: 0 auto;
    bottom: -10%;
}
.answer__image__picture {
    height: auto;
    width: 100%;   
}
.option__image__container {
    position: relative;
    height: 175px;
    text-align: center;
}
.option__image__picture {
    max-height: 80%;
    max-width: 80%;
}
.option__image__picture:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.modal__content {
  background-color: whitesmoke;
  color: darkslategray;
  margin: auto;
  padding: 20px;
  border: none;
  width: 60%;
  height: 60%;
  overflow: scroll;
}
.modal__image__caterpillar {
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.modal__image__container {
    text-align: center;
    margin-bottom: 15px;
}
.modal__content__text {
    font-size: 16px;
}
.modal__content__title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal__close {
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}
.btn--color--select--green {
    background-color: green;
}
.btn--color--select--green:hover {
    color: green;
    border: 3px solid green;    
    background-color: whitesmoke;        
}
.btn--color--select--purple {
    background-color: purple;
}
.btn--color--select--purple:hover {
    color: purple;
    border: 3px solid purple;    
    background-color: whitesmoke;        
}
.btn--color--select--pink {
    background-color: pink;
}
.btn--color--select--pink:hover {
    color: pink;
    border: 3px solid pink;    
    background-color: whitesmoke;        
}
.btn--color--select--red {
    background-color: red;
}
.btn--color--select--red:hover {
    color: red;
    border: 3px solid red;    
    background-color: whitesmoke;        
}
.btn--color--select--blue {
    background-color: blue;
}
.btn--color--select--blue:hover {
    color: blue;
    border: 3px solid blue;    
    background-color: whitesmoke;        
}
.btn--color--select--orange {
    background-color: orangered;
}
.btn--color--select--orange:hover {
    color: orangered;
    border: 3px solid orangered;    
    background-color: whitesmoke;        
}
.game--level--icon--egg {
    background-image: url(../images/egg.jpg);
}
.game--level--icon--caterpillar {
    background-image: url(../images/caterpillar.jpg);
}
.game--level--icon--butterfly {
    background-image: url(../images/butterfly.jpg);
}
.clock--number--one { --rotation: 36deg; }
.clock--number--two { --rotation: 72deg; }
.clock--number--three { --rotation: 108deg; }
.clock--number--four { --rotation: 144deg; }
.clock--number--five { --rotation: 180deg; }
.clock--number--six { --rotation: 216deg; }
.clock--number--seven { --rotation: 252deg; }
.clock--number--eight { --rotation: 288deg; }
.clock--number--nine { --rotation: 324deg; }
/* help with rotating the clock hand https://flaviocopes.com/rotate-image/ and https://flaviocopes.com/css-transitions/ */
.clock--hands--rotate {
  animation: rotation 10s 0s linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/***for mobile devices***/

@media only screen and (max-width: 768px) {
    .btn {
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }
    .welcome__modal {
        padding-top: 20px; /* Location of the box */
    }
    .modal__content {
        width: 80%;
        height: 80%;
    }
    /*.modal__image__caterpillar {
        height: 150px;
    }*/
    .modal__content__text {
        font-size: 80%;
    }
    .btn__color__select {
        height: 25px;
        width: 60px;
        font-size: 10px;
    }
    .game__level__icon {
        height: 50px;
        width: 75px;
    }
    .correct__score__star {
        height: 50px;
        font-size: 65px;
        top: 0%;
    }
    .correct__score__counter {
        font-size: 20px;
        top: 3%;
    }
    .clock__face {
        float: none;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100px;
        height: 100px;
    }
    .clock__numbers {
        font-size: 10px;
    }
    .clock__hand {
        width: 3px;
    }
    .answer__image__container {
        height: 150px;
        width: 150px;
    }
    /*.answer__image__picture {
        height: 75%;
        width: 65%;
        margin-left: 25%;
    }*/
    .option__image__container {
        height: 100px;
    }
/*    .option__image__picture {
        height: 60%;
        width: 75%;
    }*/
    .nav__link__bottom {
        font-size: 10px;
    }
    .nav__link__left {
        float: none;
    }
    .nav__link__right {
        float: none;
    }
}