@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: red;
    color: darkslategray;   
}

/***Link at the top of the page to open the welcome pop-up modal***/

#modal_link {
    width: 80%;
    text-align: right;
    margin: 0 auto;
    height: 30px;
    margin-top: 10px;
}

#modal_link a {
    text-decoration: none;
    font-size: 120%;   
    color: darkslategray; 
}

#modal_link a:hover {
    color: white;
}

/***Main playing area container***/

#play_area {
    background-color: white;
    width: 80%;
    height: 85vh;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 10px;
}

/***Footer***/

footer {
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 8px;
}

footer a {
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

#bottom_left {
    float: left;
    font-size: 15px;
}

#bottom_right {
    float: right;
    font-size: 15px;
}

/***Background color buttons***/

#bg_color_buttons {
    padding-top: 20px;
}

.color_btn {
    border-radius: 8px;
    color: white;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    height: 50px;
    width: 120px;
}

#green_btn {
    background-color: green;
}

#purple_btn {
    background-color: purple;
}

#pink_btn {
    background-color: pink;
}

#red_btn {
    background-color: red;
}

#blue_btn {
    background-color: blue;
}

#orange_btn {
    background-color: orangered;
}

#green_btn:hover {
    color: green;
    border: 3px solid green;
    background-color: white;    
}

#purple_btn:hover {
    color: purple;
    border: 3px solid purple;    
    background-color: white;        
}

#pink_btn:hover {
    color: pink;
    border: 3px solid pink;    
    background-color: white;        
}

#red_btn:hover {
    color: red;
    border: 3px solid red;    
    background-color: white;        
}

#blue_btn:hover {
    color: blue;
    border: 3px solid blue;    
    background-color: white;        
}

#orange_btn:hover {
    color: orangered;
    border: 3px solid orangered;    
    background-color: white;        
}